@model FMRS.Model.DTO.DonationUploadViewModel
@{
    ViewBag.Title = Resource.DonationUpload;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="padding:20px 0 5px;">
    @ViewBag.Title 
</h4>

<div class="box box-default" style="overflow:auto;">
    <div class="box-header" style="padding-bottom:0;">

    </div>
    <div class="box-body">
        <div style="padding:0 15px;line-height:1.5;">
            <b>
                @Resource.DonationUploadStepTitle <br />
                @Resource.DonationUploadStep1 <a href="~/documents/upload_donation.csv">@Resource.ExcelTemplate</a><br />
                @Resource.DonationUploadStep2<br />
                @Resource.DonationUploadStep3<br />
                @Resource.DonationUploadStep4<br />
                @Resource.DonationUploadStep5<br />
            </b>
        </div>
        <div class="form-group" style="padding:20px;margin-bottom:0;">
            <form id="Donation" asp-action="CheckDonationUpload" asp-controller="DonationUpload">
                <input type="hidden" asp-for="Inst_code" value="@Model.Inst_code" />
                <input type="hidden" asp-for="Error_list" value="@Model.Error_list" />
                <input type="hidden" asp-for="Valid_only" value="@Model.Valid_only" />
                <textarea asp-for="Remark" class="form-control" rows="20" cols="100"></textarea>
                <input type="hidden" asp-for="Action" value="" />
            </form>
        </div>
        
    </div>
    <div class="box-footer">
        <div class="dt-buttons">
            <input type="button" id="btnUpload" class="dt-button btn btn-primary" onclick="form_submit();" value="@Resource.Upload">
        </div>
    </div>

</div>

<script type="text/javascript">
    function form_submit() { 

        if ($("#Remark").val().trim().length > 0)
            $('#Donation').submit();
        else { 
            alert("Please input donation content before submit.")
            return false;
        }

    }

    </script>